
@model Book_Swap_Models.Models.LoginModel
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>
<body>

    <div class="background">
        @*<div class="shape"></div>
        <div class="shape"></div>*@
    </div>
    <div>
        <form asp-action="Login">
            <h3>Login Here</h3>
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="form-group">
                <input type="email" asp-for="UserName" placeholder="email@example.com" class="form-control" required="" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" placeholder="password" class="form-control" required="" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <br />
            <div class="form-group" align="justify">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <br />
            <div >
                Not a member yet? <input class="btn btn-outline-primary" type="button" value="Register" onclick="location.href='@Url.Action("Register", "Home")'" />

            </div>
        </form>
    </div>

</body>
</html>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
@*@{
    ViewBag.Title = "Login";
}
<h2>
    Login
</h2>
@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)

    <div style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px;
        width: 325px; margin: auto; display: table;">
        <table>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.UserName)
                </td>
                <td>
                    @Html.EditorFor(model => model.UserName)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Login" />
                </td>
            </tr>
        </table>

        <div style="padding: 20px 0 0 40px">
            Not a member yet? <input type="button" value="Register" onclick="location.href='@Url.Action("Register", "Home")'" />

        </div>

    </div>

    
}
*@
