@model Book_Swap_Models.Models.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>
<body>

    <div class="background">
        @*<div class="shape"></div>
        <div class="shape"></div>*@
    </div>
    <form asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input placeholder=" nickname" asp-for="Name" class="form-control" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input placeholder=" email@example.com" type="email" asp-for="Email" class="form-control" required="" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input placeholder=" password" type="password" asp-for="Password" class="form-control" required="*" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
       
        <div class="form-group">
            <input placeholder=" confirm password" type="password" required asp-for="ConfirmPassword" class="form-control" required="*" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group" align="justify">
            <input type="submit" value="Register" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a asp-action="Login" class="btn btn-outline-secondary" oninvalid="AnimationEffect">Back to Login</a>
        </div>
    </form>

</body>
</html>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

@*@{
    ViewBag.Title = "Register";
}
<h2>
    Register
</h2>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@if (ViewBag.Message != null)
{
    <script>
        document.getElementById("Name").value = "";
        document.getElementById("Email").value = "";
        $('form').hide();
    </script>

    <div class="alert alert-success">@ViewBag.Message Click here to <a href="@Url.Action("Login", "Home")">Login</a> </div>
}

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)    

    <div style="border: solid 1px #ccc; padding: 50px 0 30px 30px; border-radius: 5px;
        width: 550px; margin: auto; display: table;">
        <table>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.Name)
                </td>
                <td style="padding: 0 10px 0 20px">
                    @Html.EditorFor(model => model.Name)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.Email)
                </td>
                <td style="padding: 0 0 0 20px">
                    @Html.EditorFor(model => model.Email)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.Password)
                </td>
                <td style="padding: 0 0 0 20px">
                    @Html.PasswordFor(model => model.Password)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </td>
                <td style="padding: 0 0 0 20px">
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td style ="padding: 20px 0 0 20px">
                    <input type="submit" value="Register" />
                    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Login", "Home")'" />
                </td>
            </tr>
        </table>

    </div>
}
*@